[
  {
    "ParameterKey": "ProjectName",
    "ParameterValue": "fastapi-app"
  },
  {
    "ParameterKey": "Environment",
    "ParameterValue": "production"
  },
  {
    "ParameterKey": "VpcCIDR",
    "ParameterValue": "10.0.0.0/16"
  },
  {
    "ParameterKey": "DBUsername",
    "ParameterValue": "dbadmin"
  },
  {
    "ParameterKey": "DBPassword",
    "ParameterValue": "CHANGE_THIS_PASSWORD"
  },
  {
    "ParameterKey": "DBInstanceClass",
    "ParameterValue": "db.t3.micro"
  },
  {
    "ParameterKey": "ContainerImage",
    "ParameterValue": "123456789012.dkr.ecr.us-east-1.amazonaws.com/fastapi-app:latest"
  },
  {
    "ParameterKey": "ContainerPort",
    "ParameterValue": "8000"
  },
  {
    "ParameterKey": "DesiredCount",
    "ParameterValue": "2"
  },
  {
    "ParameterKey": "MinCapacity",
    "ParameterValue": "2"
  },
  {
    "ParameterKey": "MaxCapacity",
    "ParameterValue": "6"
  },
  {
    "ParameterKey": "TargetCPUUtilization",
    "ParameterValue": "70"
  }
]
